URL="192.168.1.1"
PORT="9096"
EMAIL=""
APP_PASSWORD=""
ROOT="/media/fat"
STATE_DIR="./state"
WATCH="false"
WATCH_INTERVAL="30"
FORCE_UPLOAD="false"
DRY_RUN="false"
ROUTE_PREFIX=""

[source.mister_default]
LABEL="MiSTer Default"
KIND="mister-fpga"
PROFILE="mister"
SAVE_PATH="/media/fat/saves"
ROM_PATH="/media/fat/games"
RECURSIVE="true"
SYSTEMS="nes,snes,gameboy,gba,n64,genesis,master-system,game-gear,sega-cd,sega-32x,saturn,neogeo,psx"
CREATE_MISSING_SYSTEM_DIRS="false"
MANAGED="false"
ORIGIN="manual"
