URL="192.168.1.1"
PORT="9096"
EMAIL=""
APP_PASSWORD=""
ROOT="./saves"
STATE_DIR="./state"
WATCH="false"
WATCH_INTERVAL="30"
FORCE_UPLOAD="false"
DRY_RUN="false"
ROUTE_PREFIX=""

[source.retroarch]
LABEL="RetroArch Windows"
KIND="retroarch"
PROFILE="retroarch"
SAVE_PATH="C:\\RetroArch\\saves"
ROM_PATH="C:\\RetroArch\\roms"
RECURSIVE="true"
SYSTEMS="nes,snes,gameboy,gba,n64,nds,genesis,master-system,game-gear,sega-cd,sega-32x,saturn,dreamcast,neogeo,wii,psx,ps2,psp,psvita,ps3,ps4,ps5"
CREATE_MISSING_SYSTEM_DIRS="false"
MANAGED="false"
ORIGIN="manual"
